In [1]:
import pandas as pd

# Assuming you have two DataFrames, df1 and df2, with multi-index columns

# Concatenate the two DataFrames along axis=1 (columns)
combined_df = pd.concat([df1, df2], axis=1)

# Print the combined DataFrame
print(combined_df)

NameError: name 'df1' is not defined

In [2]:
import glob
all_f= glob.glob('Im*.csv')
all_f

['Improv_POWER_Point_Daily_Temperature_Data-All_models_Result.csv',
 'Improv_Daily_Sunspot_data-All_models_Result.csv',
 'Improv_PM2.5_p09_data-All_models_Result.csv',
 'Improv_Healthy_control_heart_data-All_models_Result.csv',
 'Improv_Myocardial_infarction_heart_data-All_models_Result.csv',
 'Improv_Tetuan_City_Power_Consumption_Zone1_processed-All_models_Result.csv',
 'Improv_POWER_Point_Daily_Presure_Data-All_models_Result.csv']

In [3]:
import pandas as pd

li=[]
for file_name in all_f:
    df=pd.read_csv(file_name)
    li.append(df)

In [4]:
df1=li[0]
df1

,Unnamed: 0,LSTM,LSTM.1,LSTM.2,LSTM.3,LSTM.4,LSTM.5,CNN,CNN.1,CNN.2,...,GRU.2,GRU.3,GRU.4,GRU.5,RNN,RNN.1,RNN.2,RNN.3,RNN.4,RNN.5
0,NaN,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,...,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE
1,NaN,mean,best,improve,mean,best,improve,mean,best,improve,...,improve,mean,best,improve,mean,best,improve,mean,best,improve
2,0.0,1.1569447248481595,0.7997220089602592,30.876385726620008,3.934513311685807,2.459752582530028,1.4747607291557787,1.1686198020753868,0.7807409645448941,33.19119159555975,...,29.10040509169855,3.967126369508452,2.380565945857847,1.5865604236506052,1.409797525801015,0.8439054631384811,42.54610226403804,4.744085183348202,2.4708470409853964,2.3635192374903546

In [5]:
df2=li[1]
df2

,Unnamed: 0,LSTM,LSTM.1,LSTM.2,LSTM.3,LSTM.4,LSTM.5,CNN,CNN.1,CNN.2,...,GRU.2,GRU.3,GRU.4,GRU.5,RNN,RNN.1,RNN.2,RNN.3,RNN.4,RNN.5
0,NaN,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,...,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE
1,NaN,mean,best,improve,mean,best,improve,mean,best,improve,...,improve,mean,best,improve,mean,best,improve,mean,best,improve
2,0.0,14.974558141928128,13.664189158813674,8.750635382325418,33.66626994724139,30.66675162689384,2.9995183203475477,14.878173661533392,11.100603271338553,25.39001409804428,...,11.871698132378766,33.49482628036017,28.136429051768264,5.358397228591908,16.06512485202677,13.88487799995634,18.951974370139165,35.17785688018479,27.97515964080902,7.041427828416527

In [6]:
df3=li[2]
df3

,Unnamed: 0,LSTM,LSTM.1,LSTM.2,LSTM.3,LSTM.4,LSTM.5,CNN,CNN.1,CNN.2,...,GRU.2,GRU.3,GRU.4,GRU.5,RNN,RNN.1,RNN.2,RNN.3,RNN.4,RNN.5
0,NaN,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,...,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE
1,NaN,mean,best,improve,mean,best,improve,mean,best,improve,...,improve,mean,best,improve,mean,best,improve,mean,best,improve
2,0.0,5.66029289474096,4.6558703107187585,17.745063774975694,16.754966370973946,9.055729903396958,7.699236467576988,5.846917306107325,3.7919920615992044,35.14544736867877,...,9.794469590535597,16.06774512383824,9.240616105824797,6.8271290180134425,5.700636652896607,4.672814732375598,18.97823509347417,15.674050097956963,9.541464742353524,6.433433992132166

In [7]:
df4=li[3]
df4

,Unnamed: 0,LSTM,LSTM.1,LSTM.2,LSTM.3,LSTM.4,LSTM.5,CNN,CNN.1,CNN.2,...,GRU.2,GRU.3,GRU.4,GRU.5,RNN,RNN.1,RNN.2,RNN.3,RNN.4,RNN.5
0,NaN,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,...,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE
1,NaN,mean,best,improve,mean,best,improve,mean,best,improve,...,improve,mean,best,improve,mean,best,improve,mean,best,improve
2,0.0,0.05538925194278408,0.007068033860059498,87.23934046381305,5.798561842701674,0.7114697799853297,5.087092062716344,0.018893525838208063,0.019555197978655098,-3.502110437793172,...,-45.16144051206021,3.6014998290663587,1.1219520903302482,2.4795477387361107,0.027929388772371957,0.04294874499000163,63.5929218562801,6.202749620223389,1.020581143307905,5.0807975298931405

In [8]:
df5=li[4]
df5

,Unnamed: 0,LSTM,LSTM.1,LSTM.2,LSTM.3,LSTM.4,LSTM.5,CNN,CNN.1,CNN.2,...,GRU.2,GRU.3,GRU.4,GRU.5,RNN,RNN.1,RNN.2,RNN.3,RNN.4,RNN.5
0,NaN,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,...,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE
1,NaN,mean,best,improve,mean,best,improve,mean,best,improve,...,improve,mean,best,improve,mean,best,improve,mean,best,improve
2,0.0,0.011609419977660669,0.007518753802725168,35.23574978600939,15.19267712094705,10.973518729978277,4.219158390968772,0.011386277456837148,0.007026622513840338,38.28867651893514,...,-179.03555278166226,12.705567360776227,7.270156009564996,5.435411351211231,0.013506248853774239,0.01728838162856699,11.928060116976951,166.13768723979834,17.390690217522856,158.86753123023334

In [9]:
df6=li[5]
df6

,Unnamed: 0,LSTM,LSTM.1,LSTM.2,LSTM.3,LSTM.4,LSTM.5,CNN,CNN.1,CNN.2,...,GRU.2,GRU.3,GRU.4,GRU.5,RNN,RNN.1,RNN.2,RNN.3,RNN.4,RNN.5
0,NaN,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,...,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE
1,NaN,mean,best,improve,mean,best,improve,mean,best,improve,...,improve,mean,best,improve,mean,best,improve,mean,best,improve
2,0.0,450.08522591497524,337.185772717184,25.08401669223394,1.218768846988777,0.828452207058559,0.3903166399302179,522.3741939504807,404.4757337960452,22.569732869616438,...,15.823382871695276,1.1325873218183375,0.8469676899975789,0.28561963182075867,405.94035485396205,364.10257897428795,12.08124108598905,1.0053592454299989,0.9116156307342962,0.15839155543242

In [10]:
df7=li[6]
df7

,Unnamed: 0,LSTM (1),LSTM (1).1,LSTM (1).2,LSTM (1).3,LSTM (1).4,LSTM (1).5,CNN,CNN.1,CNN.2,...,GRU.2,GRU.3,GRU.4,GRU.5,RNN,RNN.1,RNN.2,RNN.3,RNN.4,RNN.5
0,NaN,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,...,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE
1,NaN,mean,best,improve,mean,best,improve,mean,best,improve,...,improve,mean,best,improve,mean,best,improve,mean,best,improve
2,0.0,1.0590548780913525,0.6758395982749128,36.18464800493408,10.153757730577704,5.862375702873894,4.2913820277038095,1.0704807118599426,0.6249621333407492,41.618552635582965,...,30.577508317688018,10.194130823911848,6.272090796427224,3.9220400274846243,1.069268532241683,0.6924218292553911,35.63728743899666,10.46076159442486,6.312401452335724,4.188670797997635

df8=li[7]
df8

In [11]:
combined_df = pd.concat([df1, df2], axis=0)

# Print the combined DataFram

combined_df

,Unnamed: 0,LSTM,LSTM.1,LSTM.2,LSTM.3,LSTM.4,LSTM.5,CNN,CNN.1,CNN.2,...,GRU.2,GRU.3,GRU.4,GRU.5,RNN,RNN.1,RNN.2,RNN.3,RNN.4,RNN.5
0,NaN,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,...,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE
1,NaN,mean,best,improve,mean,best,improve,mean,best,improve,...,improve,mean,best,improve,mean,best,improve,mean,best,improve
2,0.0,1.1569447248481595,0.7997220089602592,30.876385726620008,3.934513311685807,2.459752582530028,1.4747607291557787,1.1686198020753868,0.7807409645448941,33.19119159555975,...,29.10040509169855,3.967126369508452,2.380565945857847,1.5865604236506052,1.409797525801015,0.8439054631384811,42.54610226403804,4.744085183348202,2.4708470409853964,2.3635192374903546
0,NaN,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,...,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE
1,NaN,mean,best,improve,mean,best,improve,mean,best,improve,...,improve,mean,best,improve,mean,best,improve,mean,best,improve
2,0.0,14.974558141928128,13.664189158813674,8.750635382325418,33.66626994724139,30.66675162689384,2.9995183203475477,14.878173661533392,11.100603271338553,25.39001409804428,...,11.871698132378766,33.49482628036017,28.136429051768264,5.358397228591908,16.06512485202677,13.88487799995634,18.951974370139165,35.17785688018479,27.97515964080902,7.041427828416527

In [18]:

appended_df = pd.concat([df1, df2], axis=0)

# Add the DataFrame name as the first cell in each row
#appended_df.index = pd.MultiIndex.from_tuples([(all_f[0], *index) for index in appended_df.index])

In [20]:
uu=appended_df.iloc[-2:-1,:]
uu

,Unnamed: 0,LSTM,LSTM.1,LSTM.2,LSTM.3,LSTM.4,LSTM.5,CNN,CNN.1,CNN.2,...,GRU.2,GRU.3,GRU.4,GRU.5,RNN,RNN.1,RNN.2,RNN.3,RNN.4,RNN.5
1,NaN,mean,best,improve,mean,best,improve,mean,best,improve,...,improve,mean,best,improve,mean,best,improve,mean,best,improve

In [19]:
appended_df

,Unnamed: 0,LSTM,LSTM.1,LSTM.2,LSTM.3,LSTM.4,LSTM.5,CNN,CNN.1,CNN.2,...,GRU.2,GRU.3,GRU.4,GRU.5,RNN,RNN.1,RNN.2,RNN.3,RNN.4,RNN.5
0,NaN,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,...,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE
1,NaN,mean,best,improve,mean,best,improve,mean,best,improve,...,improve,mean,best,improve,mean,best,improve,mean,best,improve
2,0.0,1.1569447248481595,0.7997220089602592,30.876385726620008,3.934513311685807,2.459752582530028,1.4747607291557787,1.1686198020753868,0.7807409645448941,33.19119159555975,...,29.10040509169855,3.967126369508452,2.380565945857847,1.5865604236506052,1.409797525801015,0.8439054631384811,42.54610226403804,4.744085183348202,2.4708470409853964,2.3635192374903546
0,NaN,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,...,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE
1,NaN,mean,best,improve,mean,best,improve,mean,best,improve,...,improve,mean,best,improve,mean,best,improve,mean,best,improve
2,0.0,14.974558141928128,13.664189158813674,8.750635382325418,33.66626994724139,30.66675162689384,2.9995183203475477,14.878173661533392,11.100603271338553,25.39001409804428,...,11.871698132378766,33.49482628036017,28.136429051768264,5.358397228591908,16.06512485202677,13.88487799995634,18.951974370139165,35.17785688018479,27.97515964080902,7.041427828416527

In [24]:
df2 = df1.combine_first(df2)

# Display the updated df2 DataFrame
df2

,Unnamed: 0,LSTM,LSTM.1,LSTM.2,LSTM.3,LSTM.4,LSTM.5,CNN,CNN.1,CNN.2,...,GRU.2,GRU.3,GRU.4,GRU.5,RNN,RNN.1,RNN.2,RNN.3,RNN.4,RNN.5
0,NaN,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,...,RMSE,MAPE,MAPE,MAPE,RMSE,RMSE,RMSE,MAPE,MAPE,MAPE
1,NaN,mean,best,improve,mean,best,improve,mean,best,improve,...,improve,mean,best,improve,mean,best,improve,mean,best,improve
2,0.0,1.1569447248481595,0.7997220089602592,30.876385726620008,3.934513311685807,2.459752582530028,1.4747607291557787,1.1686198020753868,0.7807409645448941,33.19119159555975,...,29.10040509169855,3.967126369508452,2.380565945857847,1.5865604236506052,1.409797525801015,0.8439054631384811,42.54610226403804,4.744085183348202,2.4708470409853964,2.3635192374903546