In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
%matplotlib inline
import time
#from pycaret.time_series import TSForecastingExperiment
import statsmodels.api as sm

In [2]:
import glob
all_f= glob.glob('DataSets/'+'*/'+'*/'+'*_INDEX_*.csv')
all_f
li=[]
for file_name in all_f:
    df=pd.read_csv(file_name)
    li.append(df)

In [11]:
df1=pd.DataFrame()
i=0
for i in range(0,17):
    df=li[i]
    v=all_f[i].split(r"/")
    D_n=v[2]
    i=i+1
    df1[D_n]=df.head(1).iloc[:,0:1]
    df1.to_csv("king.csv")

In [12]:
df1

,BHIWADI,JODHPUR,SINGRAULI,ANKLESHWAR,LUDHIANA,DURGAPUR,YAMUNA_NAGAR,CHARKHI_DADRI,JIND,KURUKSHETRA,SONIPAT,DHARUHERA,AMBALA,HISAR,FATEHABAD,BULANDSHAHR,MUZAFFARNAGAR
0,2017-12-20 15:00:00,2015-12-01 00:00:00,2017-12-08 11:00:00,2019-02-04 18:00:00,2017-05-01 00:00:00,2020-12-06 15:00:00,2019-01-03 14:00:00,2020-03-03 15:00:00,2019-01-10 09:00:00,2019-01-07 18:00:00,2019-01-01 00:00:00,2019-01-04 12:00:00,2019-01-08 12:00:00,2019-01-10 10:00:00,2019-01-09 10:00:00,2018-05-16 13:00:00,2018-07-01 00:00:00

In [24]:
df2=pd.DataFrame()
i=0
for i in range(0,17):
    df=li[i]
    v=all_f[i].split(r"/")
    D_n=v[2]
    i=i+1
    df2[D_n]=df.tail(1).iloc[:,0:1]
    #df1[D_n]=df.head(1).iloc[:,0:1].values[0,0]
    df2.to_csv("k1.csv")

In [25]:
df2

,BHIWADI,JODHPUR,SINGRAULI,ANKLESHWAR,LUDHIANA,DURGAPUR,YAMUNA_NAGAR,CHARKHI_DADRI,JIND,KURUKSHETRA,SONIPAT,DHARUHERA,AMBALA,HISAR,FATEHABAD,BULANDSHAHR,MUZAFFARNAGAR
43393,2022-12-02 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df

                      DATE   PM2.5
0      2018-07-01 00:00:00  164.75
1      2018-07-01 01:00:00  215.75
2      2018-07-01 02:00:00  280.25
3      2018-07-01 03:00:00  267.50
4      2018-07-01 04:00:00  313.75
...                    ...     ...
38781  2022-12-02 21:00:00  151.75
38782  2022-12-02 22:00:00  152.25
38783  2022-12-02 23:00:00  138.75
38784  2022-12-03 00:00:00  112.50
38785  2022-12-03 01:00:00  105.25

[38786 rows x 2 columns]

In [8]:
df3=pd.DataFrame()

In [9]:
df3['vip']=df.head(1).iloc[:,1:2].values[0,0]
df3

Empty DataFrame
Columns: [vip]
Index: []

In [10]:
df.head(1).iloc[:,0:1].values[0,0].split(r" ")[0]

'2018-07-01'