In [1]:
import pandas as pd
import numpy as np
import time
#!pip install pandasql
import pandasql as ps
import matplotlib as mpl
import matplotlib.pyplot as plt
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals()) 
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.arima_model import ARIMA

In [3]:
df=pd.read_excel('H_Ankl_1_2_19-3_12_22-*41* (copy).xlsx',usecols={'CENTRAL POLLUTION CONTROL BOARD','Unnamed: 2'}) #read excel spacfioc colume and import
N=1+15
df.drop(index=df.index[:N], axis=0, inplace=True) # Drop row through N    (axis = o)=row
d = df.rename(columns={'CENTRAL POLLUTION CONTROL BOARD':'Date','Unnamed: 2':'PM'}) # Colume ReName 
d['DD'] = d['Date'].str.split('-').str[0]   
d['MM'] = d['Date'].str.split('-').str[1]
d['YYYY'] = d['Date'].str.split('-').str[2]
d['YYYY'] = d['YYYY'].map(lambda x: str(x)[:-6])
d['Hour'] = d['Date'].str.split(' ').str[1]
d['DATE']=d['YYYY']+'-'+d['MM']+'-'+d['DD']+' '+d['Hour']
d['DATE']= pd.to_datetime(d['DATE'])
d=d.drop(['Date','YYYY','DD','MM','Hour'],axis=1)
d['row_num']=np.arange(len(d))
q="""SELECT row_num from d where PM is null limit 1"""    #sql query ########################Changes####################
df1=ps.sqldf(q, locals())
a=df1.values.flatten()
b=(a[0])
b
d=d.iloc[:b,:] 
d['PM']=d['PM'].replace(0,'None')
#q="""SELECT row_num from d where PM is null limit 1"""    #sql query
q="""SELECT row_num from d where PM <>'None' limit 1"""    #sql query ########################Changes####################
df1=ps.sqldf(q, locals())
a=df1.values.flatten()
b=(a[0])
b
q="""SELECT row_num from d where PM <>'None' order by row_num desc limit 1""" 
dl2=ps.sqldf(q, locals())
a=dl2.values.flatten()
e=(a[0])
e
df=d.iloc[b:e,:] 
df.PM[df.PM == 'None'] = 0
df.replace(0, np.NaN,inplace=True)

/tmp/ipykernel_33673/252814002.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.PM[df.PM == 'None'] = 0
/tmp/ipykernel_33673/252814002.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace(0, np.NaN,inplace=True)

In [4]:
#df.replace('None', np.NaN,inplace=True)
#df[df['PM']== 'None']['PM'] = 0

In [5]:
df.isna().sum()
df.isnull().sum()
df

           PM                DATE  row_num
106     70.52 2019-02-04 18:00:00       90
107     61.39 2019-02-04 19:00:00       91
108     59.94 2019-02-04 20:00:00       92
109     76.44 2019-02-04 21:00:00       93
110     98.54 2019-02-04 22:00:00       94
...       ...                 ...      ...
33636  120.98 2022-12-02 20:00:00    33620
33637  115.37 2022-12-02 21:00:00    33621
33638  104.06 2022-12-02 22:00:00    33622
33639  110.59 2022-12-02 23:00:00    33623
33640  122.87 2022-12-03 00:00:00    33624

[33535 rows x 3 columns]

In [6]:
'''
q="""SELECT PM, DATE from df where  row_num < 11869 """ 
dl2=ps.sqldf(q, locals())

q="""SELECT PM, DATE from df where  row_num > 12979 """ 
dl3=ps.sqldf(q, locals())
dl3

q="""SELECT PM, DATE from df where  row_num > 11869 and row_num<12979""" 
dl4=ps.sqldf(q, locals())
'''

'\nq="""SELECT PM, DATE from df where  row_num < 11869 """ \ndl2=ps.sqldf(q, locals())\n\nq="""SELECT PM, DATE from df where  row_num > 12979 """ \ndl3=ps.sqldf(q, locals())\ndl3\n\nq="""SELECT PM, DATE from df where  row_num > 11869 and row_num<12979""" \ndl4=ps.sqldf(q, locals())\n'

In [7]:
#df['ffill']=df['PM'].fillna(method='ffill')
#df['bfill']=df['PM'].fillna(method='bfill')

In [8]:
#df['final']=((df['ffill']+df['bfill'])/2)

In [9]:
#df.to_csv('Final.csv')

In [10]:
#df[['PM','final']].plot()

In [11]:
#y_pred=df['final'].tolist()
#y_true=df['final'].tolist()
#mean_squared_error(y_true, y_pred)**0.5

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:

def divideData(df):
  df.dropna()
  a=len(df)
  #print(a)
  form=['X_train2', 'X_train3', 'X_train4', 'X_train5', 'X_train6', 'X_train7', 'X_train8', 'X_train9', 'X_train10']
  Testing=[ 'X_test2', 'X_test3', 'X_test4', 'X_test5', 'X_test6', 'X_test7', 'X_test8', 'X_test9', 'X_test10']
  #list_of_df = list()
  x=int(0.1*a)
  #print(x)
  j=1
  X_train1 = df.iloc[0:x,0:1]
  #print(X_train1)
  X_test1=X_train1.iloc[:,0:1].copy()
  #X_train1.loc[X_train1.index[:], 0:1] = np.nan
  X_train1.iloc[:, 0:1] = np.nan
  '''
  for (a, b) in zip(form, Testing):
    b=pd.DataFrame()
    b=a.iloc[:,0:1].copy()
  '''

  #print("Training")
  #print(X_train1)
  DF = pd.concat([X_train1])
  for i in form:
    t=x*j
    s=((j+1)*x)
    #print(t)
    #print(s)
    i=df.iloc[t:s,0:1] ######  Creating Chuncks of Dataframe to be concatenated with DF 
    for b in Testing:
      b=i ######  Creating 9 different test data sets stored in X_test2 to X_test9
    j += 1
    DF=pd.concat([DF, i]) ##### Combination of dataframe with First DataFrame as NaN
    #print(DF)
    #a.dropna()
  
  
  
  return DF, X_test1

DF, X_test1 =divideData(df)
DF
X_test1

         PM
106   70.52
107   61.39
108   59.94
109   76.44
110   98.54
...     ...
3454  31.79
3455  28.46
3456  35.99
3457  36.10
3458  29.75

[3353 rows x 1 columns]

In [14]:
# Training data

X = df.loc[:, ['PM','DATE']]  # features
X_train1 = df.loc[0:1110, ['PM','DATE']]
X_train2 = df.loc[1110:2220, ['PM','DATE']]
X_train3 = df.loc[2220:3330, ['PM','DATE']]
X_train4 = df.loc[3330:4440, ['PM','DATE']]
X_train5 = df.loc[4440:5550, ['PM','DATE']]
X_train6 = df.loc[5550:6660, ['PM','DATE']]
X_train7 = df.loc[6660:7770, ['PM','DATE']]
X_train8 = df.loc[7770:8880, ['PM','DATE']]
X_train9 = df.loc[8880:9990, ['PM','DATE']]
X_test1=X_train1.copy()
X_train2.dropna()
print(X_train2.count())
X_train3.dropna()
print(X_train3.count())
X_train4.dropna()
print(X_train4.count())
X_train5.dropna()
print(X_train5.count())
X_train6.dropna()
print(X_train6.count())
X_train7.dropna()
print(X_train7.count())
X_train8.dropna()
print(X_train8.count())
X_train9.dropna()
print(X_train9.count())
X_train1.loc[X_train1.index[:], 'PM'] = np.nan
DF = pd.concat([X_train1, X_train2, X_train3, X_train4, X_train5, X_train6, X_train7, X_train8, X_train9])

#y = df.loc[11779:12890, 'PM']  # target
#print(X)
#print(y)
#X.dropna()
#y.dropna()
# Train the model
#model = LinearRegression()
#model.fit(X, y)

# Store the fitted values as a time series with the same time index as
# the training data
#y_pred = pd.Series(model.predict(X), index=X.index)

PM      1067
DATE    1111
dtype: int64
PM      1057
DATE    1111
dtype: int64
PM       997
DATE    1111
dtype: int64
PM       953
DATE    1111
dtype: int64
PM       784
DATE    1111
dtype: int64
PM       984
DATE    1111
dtype: int64
PM       889
DATE    1111
dtype: int64
PM      1082
DATE    1111
dtype: int64

In [15]:
#DF['Mode']=DF['PM'].fillna(DF['PM'].mode()[0])
#DF['ffill']=DF['PM'].fillna(method='ffill')
#DF['bfill']=DF['PM'].fillna(method='bfill')
#DF['bffill']=DF['PM'].fillna(((DF['ffill']+DF['bfill'])/2))
interpolations=['linear', 'nearest']
for intp in interpolations:
    DF[intp]=DF['PM'].interpolate(method=intp)

In [16]:
estimators=[('extra_trees', ExtraTreesRegressor(n_estimators=10)), ('bagging', BaggingRegressor(n_estimators=10)),('elastic_net', ElasticNet()),('linear_regression', LinearRegression()), ('knn',KNeighborsRegressor(n_neighbors=3)) ]
PM_vals=DF.iloc[:,0:1].values
for e_name, e in estimators:
    est=IterativeImputer(random_state=15, estimator=e).fit(PM_vals)
    DF[e_name]=est.transform(PM_vals)[:,0]

NameError: name 'ExtraTreesRegressor' is not defined

In [ ]:
#X_test1['PM']=X_test1['PM'].fillna(X_test1['PM'].mode()[0])
#X_test1.isnull().sum()

#X_test1['PM']=X_test1['PM'].fillna(method='ffill')
for intp in interpolations:
    X_test1[intp]=X_test1['PM'].interpolate(method=intp)
X_test1.isnull().sum()

In [ ]:
X_test1['PM']=X_test1['PM'].fillna(X_test1['PM'].mean())

In [ ]:
PM_vals=X_test1.iloc[:,0:1].values
for e_name, e in estimators:
    est=IterativeImputer(random_state=15, estimator=e).fit(PM_vals)
    X_test1[e_name]=est.transform(PM_vals)[:,0]

In [ ]:


y_true=X_test1.loc[0:1105,['PM']].values.tolist()
y_pred=DF.loc[0:1105, ['knn']].values.tolist()
DF.isnull().sum()
print(len(y_pred), len(y_true))
mean_squared_error(y_true, y_pred)**0.5

In [ ]:
interpolations=['linear','quadratic','nearest','cubic']
for intp in interpolations:
    DF[intp]=DF['PM'].interpolate(method=intp)

In [ ]:
df1_train['spline1']=df1_train['PM'].interpolate(method='spline', order=1)

In [ ]:
#df1_train[['PM','forecast2']].plot()

In [ ]:
df1_train.to_csv('df1_train.csv')

In [ ]:
from sklearn.experimental import enable_iterative_imputer

In [ ]:
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor, BaggingRegressor
from sklearn.linear_model import ElasticNet, LinearRegression

In [ ]:
from sklearn.neighbors import *

In [ ]:
estimators=[('extra_trees', ExtraTreesRegressor(n_estimators=10)), ('bagging', BaggingRegressor(n_estimators=10)),('elastic_net', ElasticNet()),('linear_regression ', LinearRegression()), ('knn',KNeighborsRegressor(n_neighbors=3)) ]

In [ ]:
PM_vals=df1_train.iloc[:,0:1].values

In [ ]:
PM_vals

In [ ]:
for e_name, e in estimators:
    est=IterativeImputer(random_state=15, estimator=e).fit(PM_vals)
    df1_train[e_name]=est.transform(PM_vals)[:,0]

In [ ]:
df1_train

In [ ]:
df1_train.set_index('DATE')

In [ ]:
a=df1_train['PM'].mode()
a
df1_train['Median'] = df1_train['PM'].fillna(df1_train['PM'].median())

In [ ]:
df1_train[['Median', 'PM']].plot()

In [ ]:
from statsmodels.tsa.arima.model import ARIMA
model=ARIMA(df1_train['PM'], order=(24,0,1))

In [ ]:
model_fit=model.fit()

In [ ]:
model_fit.summary()

In [ ]:
df1_train['forecast2']=model_fit.predict(start=11500, end=12900, dynamic=False)

In [ ]:
df1_train[['forecast2','PM']].iloc[11500:13000,:].plot()
#df1_train[['forecast2','PM']].plot()